/* div.block-container {
    padding-top: 2rem;
  } */
  
  /* #MainMenu {
    visibility: hidden;
  }  */
  
  /* footer {
    visibility: hidden;
  }  */
  /* header {
    visibility: hidden;
  }  */
  
  