.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgb(243, 243, 243);
    border-color: rgb(205, 205, 205);
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.bluebutton {
    color: rgb(255, 255, 255);
    background-color: rgb(65, 145, 220);
}

.bluebutton:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(156, 197, 250);
    border-color: rgb(156, 197, 250);
}

.bluebutton:focus:not(:active) {
    color: rgb(255, 255, 255);
    background-color: rgb(116, 143, 175);
    border-color: rgb(116, 143, 175);
}

* {
    font-family: proxima-nova,-apple-system,blinkmacsystemfont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    color: #1E283A;
}

/* File uploader customization */

div[data-testid="stFileUploader"] > section {
    border: 1px solid #819CAE;
    flex-direction: column;
}

div[data-testid="stFileUploader"] > section > div {
    align-items: flex-start;
}

div[data-testid="stFileUploader"] * button {
    background-color: #0095E5;
    color: #fff;
    font-weight: 600;
    font-style: normal;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    display: block;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    padding: 7px 1.25rem;
}

div[data-testid="stFileUploader"] * button:hover {
    background-color: rgb(0, 133, 204);
    color: #fff;
}

div[data-testid="fileDeleteBtn"] > button {
    background-color: #fff;
    color: #1E283A;
    margin-top: 0px;
}

div[data-testid="fileDeleteBtn"] > button:hover {
    background-color: #fff;
    color: #0095E5;
}

/* All buttons customization */
.stButton > button[kind="primary"] * p {
    color: #fff;
    font-weight: 600;
    font-style: normal;
}

.stButton > button[kind="primary"] {
    background-color: #0095E5;
    border-color: #0095E5;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 7px 1.25rem;
}

.stButton > button[kind="primary"]:hover {
    background-color: rgb(0, 133, 204);
    color: #fff;
}

/* Secondary button style */
.stButton > a {
    text-decoration: none;
}

.stButton > a:hover {
    text-decoration: none;
}

.stButton * button[kind="secondary"], .stButton > button[kind="secondary"] {
    background-color: rgb(226, 239, 248);
    border-color: rgb(226, 239, 248);
    border-style: solid;
    border-block-style: solid;
    border-inline-style: solid;
    border-block-color: rgb(226, 239, 248);
    caret-color: rgb(30, 40, 58);
    border-width: 1px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 7px 1.25rem;
}

.stButton * button[kind="secondary"]:hover, .stButton > button[kind="secondary"]:hover {
    background-color: rgb(220, 233, 242);
    border-color: rgb(220, 233, 242);
    border-style: solid;
    border-inline-style: solid;
    border-block-style: solid;
    border-block-color: rgb(220, 233, 242);
}

.stButton * button[kind="secondary"] *, .stButton > button[kind="secondary"] * {
    color: rgb(30, 40, 58);
    font-weight: 600;
    font-style: normal;
    margin: 0px;
}

.stButton * button[kind="secondary"] *:hover, .stButton > button[kind="secondary"] *:hover {
    color: rgb(30, 40, 58);
}

/* MultiSelect customization */
.stMultiSelect * span {
    color: #fff;
}

.stMultiSelect > div > div > div:hover {
    border-color: #819CAE;
}

.stMultiSelect > div > div > div {
    border-color: rgba(49, 51, 63, 0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* TextArea customization */
.stTextArea > div > div {
    border-color: rgba(49, 51, 63, 0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.stTextArea > div > div:hover {
    border-color: #819CAE;
}

textarea {
    padding: 0.625rem;
}

/* Selectbox customization */
.stSelectbox > div > div:hover {
    border-color: #819CAE;
}

.stSelectbox > div > div {
    border-color: rgba(49, 51, 63, 0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* TextInput customization */
.stTextInput > div {
    border-color: rgba(49, 51, 63, 0.2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.stTextInput > div:hover {
    border-color: #819CAE;
}

.block-container {
    padding-top: 1rem;
}

div[data-testid="stDecoration"] {
    height: 0px;
}

#MainMenu {
    visibility: hidden !important;
}

header {
    visibility: hidden !important;
}

footer {
    visibility: hidden !important;
}

/* .viewerBadge_container__r5tak {
    visibility: hidden !important;
}

.viewerBadge_link__qRIco {
    visibility: hidden !important;
}

.viewerBadge_text__fzr3E {
    visibility: hidden !important;
} */