gitdb
GitPython
importlib-metadata
ipykernel
ipython
jupyter_client
jupyter_core
markdown-it-py
matplotlib
matplotlib-inline
numpy
packaging
pandas
plotly
requests
scipy
seaborn
smmap
streamlit

